body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
  background-color: #ffffff;
  color: #000000;
  overflow: hidden
}

:root {
  --color-50: #eefff6;
  --color-100: #d6ffec;
  --color-200: #b0ffdb;
  --color-300: #72ffc1;
  --color-400: #3afaa3;
  --color-500: #03e47f;
  --color-600: #00bd65;
  --color-700: #019453;
  --color-800: #077444;
  --color-900: #085f3b;
  --color-950: #00361f;
  --black: #0e0e11;
  --white: #ffffff;
}

/* Header styling */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #cccccc;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid var(--color-600);
  color: var(--color-600);
}

.header-controls {
  display: flex;
  align-items: center;
}

.github-link {
  color: var(--black);
  text-decoration: none;
  margin-left: 15px;
}

/* Theme toggle button */
.theme-button {
  padding: 8px 12px;
  font-size: 1em;
}

.button {
  border: 1px solid var(--color-600);
  color: var(--color-600);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--white);
}

.button:hover {
  border: 1px solid var(--color-700);
  color: var(--color-700);
}


/* Container styling */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

/* Parameters section */
.parameters {
  margin-top: 20px;
}

.parameters h2 {
  margin-bottom: 10px;
  font-size: 1.2em;
  text-decoration: underline;
}

.parameter {
  margin-bottom: 10px;
}

.parameter label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.parameter input,
.parameter button {
  width: 100%;
  padding: 8px;
  font-size: 1em;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
}

/* Voice Only toggle button */
.voice-button {
  cursor: pointer;
}

.voice-button.active {
  background-color: var(--color-500);
  color: #ffffff;
}

.voice-button.inactive {
  background-color: #ffffff;
  color: #000000;
}

.voice-button:hover {
  background-color: var(--color-100);
}

/* Decibel level display */
#decibelLevel {
  font-size: 3em;
  text-align: center;
  margin: 20px 0;
}

/* Start/Stop button */
#startButton {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  font-size: 1.2em;
}

/* Chart styling */
.chart-container {
  position: relative;
  width: 100%;
  padding-top: 50%;
  /* Aspect ratio */
  margin-top: 20px;
}

#decibelChart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Footer styling */
footer {
  color: #8a8a8a;
  text-align: center;
  border-top: 1px solid #cccccc;
  width: 80%;
  margin: 20px auto;
}

footer p {
  margin-top: 15px;
  font-size: 0.9em;
}

/* Dark mode styles */
body.dark-mode {
  background-color: var(--black);
  color: #ffffff;
}

body.dark-mode header {
  border-bottom: 1px solid #27272a;
  background: none;
  background-color: #0e0e11;
}

body.dark-mode header h1 {
  border: 1px solid var(--color-600);
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--color-600);
}

body.dark-mode footer {
  background-color: var(--black);
  border-top: 1px solid #27272a;
  width: 80%;
  margin: 20px auto;
}

body.dark-mode .github-link {
  color: var(--white);
}

body.dark-mode .button {
  background-color: var(--black);
  border: 1px solid var(--color-600);
  color: var(--color-600);
  border-radius: 5px;
}

body.dark-mode .button:hover {
  border: 1px solid var(--color-700);
  color: var(--color-700);
}


body.dark-mode .parameter input,
body.dark-mode .parameter button {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #444444;
}

body.dark-mode .voice-button.active {
  background-color: var(--color-700);
  color: #ffffff;
}

body.dark-mode .voice-button:hover {
  background-color: var(--color-800);
}

body.dark-mode footer p {
  color: #8a8a8a;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  header h1 {
    font-size: 1.2em;
  }

  .theme-button {
    font-size: 0.9em;
    padding: 6px 10px;
  }

  #decibelLevel {
    font-size: 2.5em;
  }

  #startButton {
    padding: 12px 25px;
    font-size: 1em;
  }
}
